
h1 {
  font-family: 'Amatic SC', cursive;
  font-size: 2em;
  color: white;
}

button, 
input {
  font-family: 'Amatic SC', cursive;
  font-size: 1.5em;
  border-radius: 10%;
}

input {
  width: 140px;
}

#explore {
  width: 90px;
}

header {
  /* Kamal Chilaka Photography */
  background-image: url(https://images.squarespace-cdn.com/content/v1/557423a2e4b0551508c8d981/1552456479669-YN44CJ4EB8YPZO0B9SUO/ke17ZwdGBToddI8pDm48kPqQfq0L3n3wpHIsRapTfg8UqsxRUqqbr1mOJYKfIPR7LoDQ9mXPOjoJoqy81S2I8N_N4V1vUb5AoIIIbLZhVYxCRW4BPu10St3TBAUQYVKczo5Zn4xktlpMsMj-QlHXeMfNK6GwvtVkYEWiR8XAPyD3GfLCe_DXOSC_YcAacWL_/Yellowstone+and+Grand+Tetons-4.jpg?format=1000w);
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  border-radius: 7px;
}

img {
  height: 400px;
  width: auto;
}

a {
  font-size: 2em;
}

/* .park-name,
.park-description,
.park-photo {
  border: 1px solid black;
} */

.park-descripton {
  font-size: 2em;
}

.park-name {
  font-size: 3em;
}

/* Flex below  */

.container {
  display: flex;
  flex-direction: column;
  font-family: 'Amatic SC', cursive;
  background: rgb(123, 154, 180);
  /* border: 2px solid black; */
}

.search-bar {
  /* display: flex; */
  /* border: 2px solid purple; */
  align-items: flex-end;
  text-align: center;
  margin-top: 180px;
}

.results-container {
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  justify-content: space-around;
}

.individual-parks {
  display: flex;
  /* border: 2px solid red; */
}

.words {
  display: flex;
  /* border: 2px solid black; */
  flex-direction: column;
  margin-bottom: 50px;
}

.photo {
  display: flex;
  align-self: center;
  flex-direction: column wrap;
}
 

/* media querry */


@media screen and (max-width: 1000px) {
  .container {
    background-color: red;
  }
  .individual-parks {
    flex-direction: column;
  }
  header,
  .words {
    width: 100%;
  }
}


@media screen and (max-width: 480px) {
  .container {
    background-color: lightgreen;
  }
  .words {
    flex-grow: 2;
  }
}





